<div class="w-50 p-5">
  <h2 class="ms-5 text-white pt-3">{{data}}</h2>
  <form [formGroup]="loginForm" class="container w-50 p-3 mt-5 ms-5 text-center border col-sm-8" style="background-color: #7079cee6; border-radius: 20px;">
      <div class="mt-2 p-2">
        <input
          type="text"
          [placeholder]= "placeholderData"
          name="accno"
          required
          class="form-control"
          formControlName="acno"
        />
        <div *ngIf="(this.loginForm.get('acno')?.errors) && (this.loginForm.get('acno')?.touched)">
          <h6 class="text-danger">must be numbers</h6>
        </div>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
          class="form-control"
          formControlName="psw"
        />
        <div *ngIf="(this.loginForm.get('psw')?.errors) && (this.loginForm.get('psw')?.touched)">
          <h6 class="text-danger">must be numbers or characters</h6>
        </div>
      </div>
      <div class="mt-2 p-2 text-center text-white">
        <button (click)="login()" type="submit" style="background-color: #142263; border-radius: 20px;">Login</button>
        <h6>Don't have account? <strong routerLink="register" class="text-white"> create account</strong></h6>
      </div>
  </form>
</div>


