/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("./assets/mantra-digital-bank-license-neo-banks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  margin: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
}