<div class="row">
  <div class="col-5 text-center mt-4 p-5" style="color: #142263;">
    <h1 class="mt-2">Account Statement</h1>
    <hr>
    <div class="fixed-top text-end pt-3 pb-5 pe-5" routerLink="/home">
      <button class="btn btn-warning mb-5">back</button>
    </div>
    <h3 class="mt-2 fs-4">Account Number : {{acno}}</h3>
    <h3 class="mt-2 fs-4">Account Holder name : {{user}}</h3>
    <h3 class="fs-4">{{date | date: 'medium' }}</h3>
    <hr>
  </div>
  <div class="col-7 text-end">
    <button class="btn btn-success mt-5 me-5" onclick="exportPdf()" style="width: 150px;">Export As PDF</button>
  </div>
</div>

<div class="row">
  <div class="text-center text-white mb-2">
    <!-- <h5>Filter</h5> -->
    <button class="btn btn-secondary me-2" (click)="filterTrans('')" style="width: 250px;">ALL</button>
    <button class="btn btn-secondary me-2" (click)="filterTrans('CREDIT')" style="width: 250px;">CREDIT</button>
    <button class="btn btn-secondary" (click)="filterTrans('DEBIT')" style="width: 250px;">DEBIT</button>
  </div>
</div>

<div class="row text-center mb-5">
  <table class="container w-75 table table-striped mb-5 " style="background-color: rgba(112, 108, 191, 0.963);">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Balance</th>

      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let i of transactions | filter : transactionType : 'type'; let n=index;">
        <td>{{n+1}}</td>
        <td>{{i.type}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.date}}</td>
        <td>{{i.balance}}</td>
      </tr>
    </tbody>
  </table>
</div>