<div class="row">
  <div class="col-5 text-center mt-4 p-5" style="color: #142263;">
    <h1 class="mt-2">Account Statement</h1>
    <hr>
    <div class="fixed-top text-end pt-3 pb-5 pe-5" routerLink="/home">
      <button class="btn btn-warning mb-5">back</button>
    </div>
    <h3 class="mt-2 fs-4">Account Number : {{acno}}</h3>
    <h3 class="mt-2 fs-4">Account Holder name : {{user}}</h3>
    <h3 class="fs-4">{{date | date: 'medium' }}</h3>
    <hr>
  </div>
  <div class="col-7">
    <img src="" alt="">
  </div>
</div>

<div class="row">
  <table class="table table-striped" style="background-color: rgba(112, 108, 191, 0.963);">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Balance</th>

      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let i of transactions; let n=index;">
        <td>{{n+1}}</td>
        <td>{{i.type}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.date}}</td>
        <td>{{i.balance}}</td>
      </tr>
    </tbody>
  </table>
</div>
