<div class="contain p-5">
    <div class="row">
        <div class="col-6">
            <h2 class="text-white">Welcome {{user}}</h2>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quisquam, fugiat
                laboriosam
                eos
                harum amet ullam aspernatur corporis. Consectetur, alias dicta? Inventore aut dolorum labore adipisci
                minima
                provident mollitia assumenda?Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, harum!
                Totam,
                officiis. Repellat ratione alias iure perferendis vero inventore ad voluptatem esse illum
                exercitationem?
                Quas
                cumque mollitia voluptatibus quos maxime.</p>
        </div>


        <div class="col-6">
            <ul>
                <li class="border border-0 mb-5">
                    <button id="b" (click)="getBalance()" class="btn btnclr text-white w-75 btn-lg"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                        aria-controls="offcanvasExample">Balance
                        Enquiry
                    </button>
                </li>
                <li class="border border-0 mb-5">
                    <button id="b" (click)="viewAccount()" type="button"
                        class="btn btnclr text-white w-75 btn-lg text-white" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">View Account Details</button>
                </li>
                <li class="border border-0 mb-5">
                    <button id="b" class="btn btnclr text-white w-75 btn-lg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal1">Transfer Fund</button>
                </li>
                <li class="border border-0 mb-5">
                    <a href="/transaction">
                        <button id="b" class="btn btnclr text-white w-75 btn-lg">Account Statement</button>
                    </a>
                </li>
                <li [ngClass]="dAcno?'toHide': ''" class="border border-0 mb-5">
                    <button id="b" class="btn btnclr text-white w-75 btn-lg" (click)="deleteClick()">Delete Account</button>
                </li>


                <!-- child component -->

                <app-delete (onDelete)="yesDelete($event)" (onCancel)="noDelete()" [childAcno]="dAcno"></app-delete>


            </ul>
        </div>
        <div class="fixed-bottom text-end pb-5 pe-3">
            <button (click)="logout()" class="btn btn-warning mb-5 me-5">logout</button>
        </div>
    </div>


    <!-- //offcanvas to show balance -->

    <div style="background-color: rgb(204, 199, 199);" class="offcanvas offcanvas-start" tabindex="-1"
        id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header text-white" style="background-color: #142263;">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Balance Enquiry</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <h5>Hey {{user}},</h5>
                <h6>Account Number : <strong>{{acno}}</strong></h6>
                <h6>Current account balance is Rs.<strong>{{balance}}</strong></h6>
            </div>
        </div>
    </div>


    <!-- View Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color: #142263;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Account Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <h4>{{user}}</h4>
                    <img src="https://i.postimg.cc/MH3JYym6/userr.jpg" style="height: 100px; width: 150px;" alt="pro_pic">
                    <p>Account Number : <strong>{{acno}}</strong></p>
                    <p>Account Balance: <strong>{{balance}}</strong></p>
                </div>
                <div class="modal-footer mt-3" style="background-color: #142263;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- //transfer -->

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color: #142263;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Quick Transfer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img class="w-100" style="height: 200px;" src="https://i.postimg.cc/5Nh8rf7n/transfer.png"
                        alt="transfer">
                    <form (ngSubmit)="fundTransfer()" [formGroup]="moneyTransferForm" action="">
                        <input formControlName="toAcno" type="text" class="form-control mt-3" id="f1" name="toacno"
                            placeholder="Enter Account Number">
                        <div
                            *ngIf="(this.moneyTransferForm.get('toAcno')?.errors) && (this.moneyTransferForm.get('toAcno')?.touched)">
                            <h6 class="text-danger">only numbers allowed</h6>
                        </div>

                        <input formControlName="amount" type="text" class="form-control mt-2" id="f2" name="amnt"
                            placeholder="Enter Amount">
                        <div
                            *ngIf="(this.moneyTransferForm.get('amount')?.errors) && (this.moneyTransferForm.get('amount')?.touched)">
                            <h6 class="text-danger">only numbers allowed</h6>
                        </div>

                        <input formControlName="psw" type="password" class="form-control mt-2" id="f3" name="pswd"
                            placeholder="Enter Password">
                        <div
                            *ngIf="(this.moneyTransferForm.get('psw')?.errors) && (this.moneyTransferForm.get('psw')?.touched)">
                            <h6 class="text-danger">only characters and numbers allowed</h6>
                        </div>

                        <button type="submit" class="btn btn-success mt-4">Transfer</button>
                    </form>
                </div>
                <div class="modal-footer mt-3 text-center" style="background-color: #142263;">
                    <p [ngClass]="tStatus?'s1':'s2'">{{transactionMsg}}</p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>