<div class="contain p-5">
    <div class="row">
        <div class="col-6">
            <h2 class="text-white">Welcome {{user}}</h2>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quisquam, fugiat
                laboriosam
                eos
                harum amet ullam aspernatur corporis. Consectetur, alias dicta? Inventore aut dolorum labore adipisci
                minima
                provident mollitia assumenda?Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, harum!
                Totam,
                officiis. Repellat ratione alias iure perferendis vero inventore ad voluptatem esse illum
                exercitationem?
                Quas
                similique dolore ducimus sint consectetur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                similique
                veniam cumque ducimus laborum ab assumenda minima debitis. Deleniti quam repudiandae possimus magnam
                nulla
                sunt
                cumque mollitia voluptatibus quos maxime.</p>
        </div>

        <div class="col-6">
            <ul>
                <li class="border border-0 mb-5">
                    <button id="b" (click)="getBalance()" class="btn btnclr text-white w-75 btn-lg" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Balance
                        Enquiry
                    </button>
                </li>
                <li class="border border-0 mb-5">
                    <button id="b" class="btn btnclr text-white w-75 btn-lg text-white">Balance</button>
                </li>
                <li class="border border-0 mb-5">
                    <button id="b" class="btn btnclr text-white w-75 btn-lg">Balance</button>
                </li>
                <li class="border border-0 mb-5">
                    <button id="b" class="btn btnclr text-white w-75 btn-lg">Balance</button>
                </li>
                <li class="border border-0 mb-5">
                    <button id="b" class="btn btnclr text-white w-75 btn-lg">Balance</button>
                </li>
            </ul>
        </div>
        <div class="fixed-bottom text-end pb-5 pe-3">
            <button (click)="logout()" class="btn btn-warning mb-5">logout</button>
        </div>
    </div>

    <!-- //offcanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Balance Enquiry</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images,
                lists, etc.
            </div>
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Dropdown button
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>