<div class="contain w-50 p-5">
    <h2 class="text-white">Welcome</h2>
    <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quisquam, fugiat laboriosam
        eos
        harum amet ullam aspernatur corporis. Consectetur, alias dicta? Inventore aut dolorum labore adipisci minima
        provident mollitia assumenda?Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, harum! Totam,
        officiis. Repellat ratione alias iure perferendis vero inventore ad voluptatem esse illum exercitationem? Quas
        similique dolore ducimus sint consectetur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
        similique
        veniam cumque ducimus laborum ab assumenda minima debitis. Deleniti quam repudiandae possimus magnam nulla sunt
        cumque mollitia voluptatibus quos maxime.</p>
</div>